<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href='/stylesheets/panelAdmin.css'/>
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <div class="panel"><a href="/admin/products"><img src="/img/productosPanelAdmin.png" alt="Zapato"><p>Listado de Productos</p></a></div>
            <div class="panel"><a href="/admin/userList"><img src="/img/usuariosPanelAdmin.png" alt="GrupoDeUsuarios"><p>Listado de Usuarios</p></a></div>
            <div class="panel"><a href="/admin/carritosLista"><img src="/img/carritoPanelAdmin.png" alt="Carrito"><p>Listado de Carritos</p></a></div>
            <div class="panel"><a href="/admin/productStocks"><img src="/img/stockPanelAdmin.png" alt="GraficoStock"><p>Listado de Stocks</p></a></div>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>