* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    display: flex;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  h1{
      text-align: center;
  }
  h2{
      display: flex;
      height: 40px;
      text-align: center;
      justify-content: center;
      align-items: center;
      
      
      
  }
  .container main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 30px;
  }
.container main .id{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 15vh;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    
}
.container main .id2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
  max-width: 100%;
  
}
.container main .producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 24.65%;
    max-width: 100%;
}
.container main .cantidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 18%;
    max-width: 100%;
}
.container main .precio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 15%;
    max-width: 100%;
}
.container main .marca{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  width: 10%;
  max-width: 100%;
}
.container main .color{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 10%;
    max-width: 100%;
  }
  .container main .talle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 10%;
    max-width: 100%;
  }
  .container main .descuento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 10%;
    max-width: 100%;
  }
h2:nth-child(2n+0) {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #6b6b6b;
    
  }
  .container main .editar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 10%;
    max-width: 100%;
}
.container main .editar h1{
  opacity: 0;
}
.container main .borrar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    width: 10%;
    max-width: 100%;
}
.container main .borrar h1{
    opacity: 0;
  }
  .container main .borrar a{
    color: red;
  }
  .container main .estado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 40px;
}
.container main .estado form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  min-width: 25%;
}
.container main .estado form .label h2{
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container main .estado form select{
  width: 200px;
  height: 40px;
  }
.container main .estado form .boton{
  border: black 1px solid;
  width: 10%;
  height: 40px;
  border-radius: 5%;
  background-color: grey;
  }
  

