*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.producto{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.producto .datosProducto{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.producto .formularioCompra {
    width: 19%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.producto .datosProducto .imagenesProducto {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.producto .datosProducto .descripcionProducto {
    width: 100%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

main .relacionados{
    width: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
} 


/* ----------------- || PRODUCTO    ------------- */

.imagenesProducto .imagenesCarousel{
    align-self: center;
    width: 30%;
    height: 800px;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenesProducto .imagenesCarousel img{
    height: 250px;
    width: 350px;
}
.imagenesProducto .imagenesSelect{
    width: 70%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}
.imagenesProducto .imagenesSelect img{
    /* height: 100%; */
    width: 100%;
}


/* ----------------- || DESCRIPCION    ------------- */

.descripcionProducto p{
    margin-left: 1%;
    width: 95%;
    font-family: sans-serif;
    font-size: 20px;
}


/* ----------------- || FORMULARIO    ------------- */

.formularioCompra #nombre{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
.formularioCompra #precio{
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold; 
    margin-bottom: 15px;
}
.formularioCompra #oferta{
    align-self: center;
    background-color: white;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
}

.talles, .colores, .cantidad, .mediosPago, .mediosEnvio{
    margin-bottom: 15px;
}
.talles p, .colores p, .cantidad p, .mediosPago p, .mediosEnvio p{
    margin-bottom: 1px;
}

.categoria, #guiaTalles{
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.talles .categoria{
    display: flex;
    justify-content: space-between;
}
#guiaTalles{
    font-style: italic;
}
.botontesSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
}
.botontesSelect button{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid grey;
}
.cantidad #inputCantidad{
    height: 30px;
    width: 60px;
    text-align: center;
}
.botonCompra{
    align-self: center;
    color: white;
    background-color: black;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
}


/* ----------------- || PRODUCTOS RELACIONADOS    ------------- */

main .relacionados title{
    display: inline-block;
    padding: 10px 0px 0px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
}
main .relacionados .relacionadosProductos{
    width: 100vw;
    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}
main .relacionados .relacionadosProductos article{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    padding: 10px;
}
main .relacionados .relacionadosProductos article img{
    height: 200px;
    width: 200px;
    align-self: center;
    padding-bottom: 10px;
}
main .relacionados .relacionadosProductos article p{
    align-self: center;
}


/* ---------------------------------------------- */
/* ----------------- || TABLET      ------------- */

@media(max-width: 770px){
    
    .producto .datosProducto .imagenesProducto {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    /* ----------------- || PRODUCTO    ------------- */

    .imagenesProducto .imagenesCarousel{
        align-self: center;
        height: 150px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .imagenesProducto .imagenesCarousel img{
        height: 100px;
        width: 130px;
    }
    .imagenesProducto .imagenesSelect{
        /* height: 400px; */
        width: 100%;
    }
    .imagenesProducto .imagenesSelect img{
        width: 100%;
    }

    /* ----------------- || FORMULARIO    ------------- */
    .botontesSelect button{
        height: 35px;
        width: 35px;
    }

    /* ----------------- || PRODUCTOS RELACIONADOS    ------------- */
    main .relacionados .relacionadosProductos{
        flex-wrap: wrap;
    }
}
 

/* ---------------------------------------------- */
/* ----------------- || CELULAR      ------------- */

@media(max-width: 426px){
    .producto{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
   /*  .producto .datosProducto{
        align-items: ;

    } */
    .producto .formularioCompra {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    /* .producto .datosProducto .imagenesProducto {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .producto .datosProducto .descripcionProducto {
        width: 100%;
        padding: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 28px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    } */







    .producto .datosProducto .imagenesProducto {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    /* ----------------- || PRODUCTO    ------------- */

    .imagenesProducto .imagenesCarousel{
        align-self: center;
        height: 150px;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .imagenesProducto .imagenesCarousel img{
        height: 100px;
        width: 130px;
    }
    .imagenesProducto .imagenesSelect{
        width: 100vw;
    }
    .imagenesProducto .imagenesSelect img{
        height: 100%;
        width: 100%;
    }

    /* ----------------- || FORMULARIO    ------------- */
    .botontesSelect button{
        height: 35px;
        width: 35px;
    }

    /* ----------------- || PRODUCTOS RELACIONADOS    ------------- */

    main .relacionados .relacionadosProductos{
        flex-wrap: wrap;
    }

    main .relacionados .relacionadosProductos article{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 150px;
        flex-grow: 1;
        padding: 10px;
        border: 1px solid coral;
    }
}