*{
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}
.container{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

/* MAIN*/
.container main.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  position: relative;
  margin-top: 90px;
  width: 98%;

}
.container main.home div.slider{
  width: 100%;
}
.container main.home div.slider img{
  height: 450px;
}

.container main.home div img{
  width: 100%;
  z-index: 0.5;
}
.container main.home div.imagenes{
  position: relative;
  width: 100%;
  background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}
.container main.home div.imagenes div.contenedorSecciones{
  display: flex;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 80%;
  justify-content: center;
}
.container main.home div.imagenes p{
  background-color: black;
  color: white;
  padding: 5px;
  box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 50%;
}  

/*REGISTER*/
#entrar {
  color: white;
  background-color: black;
}

#cancelar {
  color: black;
  background-color: white;
}
main {
  align-content: center;
}
/* TABLET*/
@media(min-width: 426px){
  .container{
    max-width: 100%;
  }
  /*MAIN*/
  .container main.home div.slider{
    width: 80%;
  }
}
/*----------------------Modo Escritorio 769px---------------------*/
@media(min-width: 769px){
  /*header*/
  body {
    padding: 0px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    display: flex;
  }
  .container{
    width: 100%;
    max-width: 100%;
  }
  /* MAIN*/
  .container main.home{
    display: flex;
    margin-top: 136px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container main.home div.slider  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 60vh;
    align-items: center;
  }
  
  .container main.home div.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 33%;
    height: 360px;

  }

  .container main.home div.slider img {
      height: 70vh;
      width: 70vw!important;
  }
  .container main.home div.imagenes div.contenedorSecciones{
    display: flex;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 80%;
    justify-content: center;
  }
  .container main.home div.imagenes p{
    background-color: black;
    color: white;
    padding: 5px;
  }  

  .container main.home div.imagenes img {
    border: 2px solid gray;
    height: 100%;
  }
}