*{
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0px;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}
.container{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}
/*HEADER*/
.container header{
  background-color: black;
  width: 99.6%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  z-index: 1;
}

.container header .tituloh2
{
  background-color: white;
  position: absolute;
  top: 0%;
  border: 3px black solid;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.container header .tituloh2 h2{
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  position: relative;
  top: 5px;

}
.container header menu{
  color:white;
  font-size: 50px;
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
}
.container header .logoArlequin{
  display: none;
}
.container header .barraDeBusqueda{
  display: none;
}
.container header nav{
  display: none;
}
.container header .logo{
  font-family: 'Josefin Sans', sans-serif;
  color: white;  
  display: inline-block;
  font-size: 25px;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
}
h1{
  font-weight: 500;
}
.container header .carrito{
  color:white;
  font-size: 50px;
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}
.container header div.logoWsapp{
  position: fixed;
  right: 7px;
  bottom: 285px;
  font-size: 30px;
  color: #25D366;
}
/* MAIN*/
.container main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  position: relative;
  margin-top: 90px;
  width: 98%;

}
.container main div.slider{
  width: 100%;
}
.container main div.slider img{
  height: 450px;
}

.container main div img{
  width: 100%;
  border-top: 3px solid white;
  z-index: 0.5;
}
.container main div.imagenes{
  position: relative;
  width: 100%;
}
.container main div.imagenes div.contenedorSecciones{
  display: flex;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 80%;
  justify-content: center;
}
.container main div.imagenes p{
  background-color: black;
  color: white;
  padding: 5px;
}  

/* FOOTER*/
.container footer{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  border: 2px solid white;
}
.container footer div{
  background-color: black;
}
.container footer div.aboutUs{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container footer div.aboutUs img{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 50%;

}
.container footer div.redesSociales{
  display: none;
}
.container footer .formasDePago{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}
.container footer .formasDePago img{
  width: 50%;
}
.container footer div.copyright{
  color: white;
  text-align: center;
}

.container footer div.copyright i{
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

/* TABLET*/
@media(min-width: 426px){
  .container{
    max-width: 100%;
  }
  /*MAIN*/
  .container main div.slider{
    width: 80%;
  }
  /*FOOTER*/
  .container footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  .container footer div.aboutUs{
    width: 50%;
    order: 1;
  }
  .container footer div.redesSociales{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    order: 2;
  }
  .container footer div.redesSociales p{
    padding-top: 5px;
  }
  
  .container footer div.redesSociales i{
    font-size: 30px;
    align-self: center;
    padding-bottom: 3px;
  }
  
  .container footer div.formasDePago{
    border: none;
    width: 50%;
    order: 3;
  }
  .container footer div.copyright{
    width: 50%;
    order: 4;
  }
  .container footer div.copyright i{
    display: none;
  }
}
/*Modo Escritorio*/
@media(min-width: 769px){
  /*header*/
  .container{
    width: 100%;
    max-width: 100%;
  }
  .container header menu{
    display: none;
  }
  .container header .logoArlequin{
    color:white;
    height: 50px;
    margin-top: 20px;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    width: 100px;
  }

  .container header .barraDeBusqueda{
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 43px;
    background-color: black;
    border: 2px black solid;
    border-radius: 5%;
    color: white;
  }
  .container header .barraDeBusqueda input{
    background-color: black;
    color: white;
  }

  .container header .barraDeBusqueda input:hover{
    background-color: white;
    color: black;
  }

  .container header .carrito{
    text-align: end;
    width: 100px;
    font-size: 25px;
    margin-top: 35px;
  }
  .container header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    margin-top: 90px;
    background-color: white;
    width: 100%;
    border: 2px solid black;
    position: absolute;
  }
  .container header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container header nav ul.menu{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container header nav ul.usuario{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
  }
  .container header nav ul li{
    list-style: none;
  }
  /* MAIN*/
  .container main{
    display: flex;
    margin-top: 136px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container main div.slider  {
    width: 70%;
  }
  
  .container main div.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 33%;
    height: 360px;

  }
  .container main div.imagenes div.contenedorSecciones{
    display: flex;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 80%;
    justify-content: center;
  }
  .container main div.imagenes p{
    background-color: black;
    color: white;
    padding: 5px;
  }  

  .container main div.imagenes img {
    border: 2px solid gray;
    height: 100%;
  }
  /* FOOTER */
  .container footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  .container footer div.aboutUs{
    width: 25%;
    order: 3;
  }
  .container footer div.redesSociales{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    order: 2;
  }
  .container footer div.redesSociales p{
    padding-top: 5px;
  }
  
  .container footer div.redesSociales i{
    font-size: 30px;
    align-self: center;
    padding-bottom: 3px;
  }
  .container footer div.formasDePago{
    border: none;
    width: 25%;
    order: 1;
  }
  .container footer div.copyright{
    width: 25%;
    order: 4;
  }
  .container footer div.copyright i{
    display: none;
  }
}