<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/carrito.css' />
    <title>WILDCARD</title>
</head>
<body>
    <div class="container">
        
        <header>
            <div class="tituloh2">
                <h2>ENVÍOS A TODO EL PAÍS</h2>
            </div>
            <menu>
                <i class="fas fa-bars"></i></i>
            </menu>
            <div class="logoArlequin">
                <img src="/img/logoArlequin.jpg" height="100%" alt="Logo Arlequin">
            </div>
            <div class="logo">
                <h1><a href="/">Wildcard</a></h1>
            </div>
            <div class="barraYCarrito">
                <div class="barraDeBusqueda"> 
                <form action="/index" method="GET">
                <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
            </div>
                <div class="carrito">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <nav>
                <ul class="menu">
                    <li >
                        COLECCION
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        AYUDA
                    </li>
                    <li>
                        CONTACTANOS
                    </li>
                 </ul>
                <ul class="usuario">
                    <li>
                        INICIAR SESION  
                    </li>
                    <li>
                        CREAR CUENTA
                    </li>
                </ul>
                </nav>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
            
        </header>
        <main class="carrito">
            <h1>Carrito de compras(cantidad de productos)</h1>

            <div class="tarjetas">
                <div class="margen"></div>
                <div class="tarjetaProducto">
                    <div class="imagen">
                        <img src="/img/zandalias.jpg" alt="zandalias">
                    </div>
                    <div class="descripcion">
                        <h3>Nombre del Producto</h3>
                        <p>Pequeña descripcion</p>
                        <p class="cantidad">1</p>
                    </div>
            </div>
            <div class="tarjetaProducto">
                <div class="imagen">
                    <img src="/img/zapatos.jpg" alt="">
                </div>
                <div class="descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Pequeña descripcion</p>
                    <p class="cantidad">1</p>
                </div>
                </div>
            </div>

            <div class="cantidadSubtotal">
                <div class="cantidad">
                    <h2 class="titulo">Cantidad</h2>
                    <div>
                        <p class="cantidad">1</p>
                    </div>
                    <div>
                        <p class="cantidad">1</p>
                    </div>
                    <h2 class="titulo2">Subtotal</h2>
                    <p class="envio">Calcular tiempos y costo de envío.</p>
                    
                    <h2 class="total">Total</h2>
                </div>
                <div class="subtotal">
                    <h2 class="titulo">Subtotal</h2>
                    <div class="precio"><p class="precio">$1.500,00</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="precio">
                        <p class="precio">$2.000,00</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="subtotal2">
                        <p>$ 3.500,00</p>
                    </div>
                    <h2 class="total">$ 3.500,00</h2>
                    </div>
                    <div class="botones">
                        <button>INICIAR COMPRA</button>
                        <button class="mas">SEGUIR COMPRANDO</button>
                        
                    </div>
                </div>
            
        </main>
        <footer>
            <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
            <div class="redesSociales"><p>SEGUINOS EN :</p> <i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i></div>
            <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
            <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
        </footer>
    </div>
    </body>
</html>