<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/contacto.css">
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    
    <main>
      <div class="contacto">
        <form action="" class="contactoForm">
          <br>
          <label for="nombre">NOMBRE: </label><input class="inputt" type="text" name="nombre" placeholder="Escribir nombre completo">
          <br>
          <label for="tel">TELEFONO: </label><input class="inputt" type="tel" name="tel" placeholder="Escribir número de teléfono">
          <br>
          <label for="email">E-MAIL: </label><input class="inputt" type="email" name="email" placeholder="Escribir e-mail">
          <br>
          <label for="asunto">ASUNTO: </label><input class="inputt" type="text" name="asunto" placeholder="Escribir asunto">
          <br>
          <label for="msj">MENSAJE: </label><textarea name="msj" cols="40" rows="5"></textarea>
          <br>
          <button class="botonEnviar" type="submit">ENVIAR</button>
        </form>
      </div>
      
    </main>
    
    <%- include('partials/footer') %>
  </div>
</body>
</html>