<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container">
        <%- include('partials/header') %>
        
        <main>
            <br><br><br><br><br><br><br><br><br><br>
            <h1>CREAR VISTA DE CONTACTO</h1><br>
        </main>
        
        <%- include('partials/footer') %>
    </div>
</body>
</html>