<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>WILDCARD</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="tituloh2"><h2>ENVÍOS A TODO EL PAÍS</h2></div>
            <menu><i class="fas fa-bars"></i></i></menu>
            <div class="logo"><h1>Wildcard</h1></div>
            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
        </header>
        <main>
            <div class="slider"><img src="/img/texanasmaiden.jpg" alt="Slider"></div>
            <div class="imagenes"><img src="/img/tendencias.jpg" alt="Mas visitados"></div>
            <div class="imagenes"><img src="/img/zandalias.jpg" alt="Sale"></div>
            <div class="imagenes"><img src="/img/zapatos.jpg" alt="Toda la coleccion"></div>
        </main>
        <footer>
            <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
            <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
            <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
        </footer>
    </div>

</body>

</html>