<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/newProduct.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>WILDCARD</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="tituloh2">
                <h2>ENVÍOS A TODO EL PAÍS</h2>
            </div>
            <menu>
                <i class="fas fa-bars"></i></i>
            </menu>
            <div class="logoArlequin">
                <img src="/img/logoArlequin.jpg" height="100%" alt="Logo Arlequin">
            </div>
            <div class="logo">
                <a href="/">Wildcard</a>
            </div>
            <div class="barraYCarrito">
                <div class="barraDeBusqueda"> 
                <form action="/index" method="GET">
                <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
            </div>
                <div class="carrito">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <nav>
                <ul class="menu">
                    <li >
                        COLECCION
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        AYUDA
                    </li>
                    <li>
                        CONTACTANOS
                    </li>
                 </ul>
                <ul class="usuario">
                    <li>
                        INICIAR SESION  
                    </li>
                    <li>
                        CREAR CUENTA
                    </li>
                </ul>
                </nav>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
            
        </header>  
          <main class="newProduct">
        <form action="/home" method="GET">
            <div class="nombre">
                <label for="nombreNuevoProducto">NOMBRE DE NUEVO PRODUCTO</label> <input type="text" name="nombreNuevoProducto" id="nombreNuevoProducto" placeholder="Nombre del nuevo producto"></div>
            <div class="primerCategoria">
                <div class="tipo">                
                    <label class="uno" for="categoria">CATEGORIA DEL PRODUCTO</label>
                    <div><label for="calzado">CALZADO</label><input  class="check" type="radio" name="categoria" id="calzado" value="calzado"></div>
                    <div><label for="accesorios">ACCESORIOS</label><input  class="check" type="radio" name="categoria" id="accesorios" value="accesorios"></div>
                </div>
                <div class="categoriasCalzado">
                    <label for="categoria">CATEGORIAS DE CALZADOS</label>
                    <div><label for="zapatillas">ZAPATILLAS</label><input class="check" type="radio" name="categoriasCalzado" id="zapatillas" value="zapatillas"></div>  
                    <div><label for="botas">BOTAS</label><input class="check" type="radio" name="categoriasCalzado" id="botas" value="botas"></div>
                    <div><label for="zapatos">ZAPATOS</label><input class="check" type="radio" name="categoriasCalzado" id="zapatos" value="zapatos"></div>
                    <div><label for="suecos">SUECOS</label><input class="check" type="radio" name="categoriasCalzado" id="suecos" value="suecos"></div>
                    <div><label for="zandalias">ZANDALIAS</label><input class="check" type="radio" name="categoriasCalzado" id="zandalias" value="zandalias"></div>
                    <div><label for="chatas">CHATAS</label><input class="check" type="radio" name="categoriasCalzado" id="chatas" value="chatas"></div>
                    <div><label for="ojotas">OJOTAS</label><input class="check" type="radio" name="categoriasCalzado" id="ojotas" value="ojotas"></div>
                </div>
                <div class="categoriasAccesorio">
                    <label for="categoria">CATEGORIAS DE ACCESORIOS</label>
                    <div><label for="categoriasaccesorios">CARTERAS</label><input class="check" type="radio" name="categoriasAccesorios" id="carteras" value="carteras"></div> 
                    <div><label for="categoriasaccesorios">PAÑUELOS</label><input class="check" type="radio" name="categoriasAccesorios" id="pañuelos" value="pañuelos"></div>
                    <div><label for="categoriasaccesorios">PULSERAS Y COLLARES</label><input class="check" type="radio" name="categoriasAccesorios" id="pulserasYCollares" value="pulserasYCollares"></div>
                    <div><label for="categoriasaccesorios">CINTOS</label><input class="check" type="radio" name="categoriasAccesorios" id="cintos" value="cintos"></div>
                    <div><label for="categoriasaccesorios">MOCHILAS</label><input class="check" type="radio" name="categoriasAccesorios" id="mochilas" value="mochilas"></div>
                </div>
                 
                <div class="esp">
                    <div><label for="marca">MARCA :</label> <input type="text" name="marca" id="marca" placeholder="Marca del producto"></div>
                    <div><label for="talle">TALLE :</label> <input type="text" name="talle" id="talle" placeholder="Talle del producto"></div>
                    <div><label for="color">COLOR :</label> <input type="text" name="color" id="color" placeholder="Color del producto"></div>
                    <div><label for="precio">PRECIO :</label> <input type="number" name="precio" id="precio" placeholder="Precio del producto"></div>
                    <div><label for="descripcion">DESCRIPCION :</label> <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion del producto"></div>
                    <div><label for="imagen1">AGREGAR PRIMER IMAGEN :</label><input class="agregarImagen1" type="file" name="agregarImagen1" value="agregarImagen1"></div>
                    <div><label for="imagen1">AGREGAR SEGUNDA IMAGEN :</label><input class="agregarImagen2" type="file" name="agregarImagen2" value="agregarImagen2"></div>
                    <div><label for="imagen1">AGREGAR TERCER IMAGEN :</label><input class="agregarImagen3" type="file" name="agregarImagen3" value="agregarImagen3"></div>
                    <div><label for="imagen1">AGREGAR CUARTA IMAGEN :</label><input class="agregarImagen4" type="file" name="agregarImagen4" value="agregarImagen4"></div>
                </div>
                <button class="reset" type="reset">Resetear Carga</button> 
                <button class="agregarProducto" type="submit">Agregar Producto</button>
            </div>
    </main>
    <footer>
        <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
        <div class="redesSociales"><p>SEGUINOS EN :</p> <i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i></div>
        <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
        <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
    </footer>
</div>
</body>
</html>