<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>WILDCARD</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="stylesheets/productos.css">

</head>
<body>
    <div class="container">
        <header>
            <div class="tituloh2">
                <h2>ENVÍOS A TODO EL PAÍS</h2>
            </div>
            <menu>
                <i class="fas fa-bars"></i></i>
            </menu>
            <div class="logoArlequin">
                <img src="/img/logoArlequin.jpg" width="100%" alt="Logo Arlequin">
            </div>
            <div class="logo">
                <h1>Wildcard</h1>
            </div>
            <div class="barraDeBusqueda"> 
                <form action="/index" method="GET">
                <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
            </div>
            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
            <nav>
                <ul class="menu">
                    <li >
                        COLECCION
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        AYUDA
                    </li>
                    <li>
                        CONTACTANOS
                    </li>
                 </ul>
                <ul class="usuario">
                    <li>
                        INICIAR SESION  
                    </li>
                    <li>
                        CREAR CUENTA
                    </li>
                </ul>
                </nav>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
            
        </header>



        <main>
            <aside class="aside">
                
            </aside>
            <section class="producto">
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">$1.500 <i>(10% OFF)</i></p> 
                    <p class="envio">Envio</p> 
                </div>
                
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p> 
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p> 
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
                <div class="calzado">
                    <p class="titulo">Zapato</p> 
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <p class="precio">Precio / Oferta</p> 
                    <p class="envio">Envio</p>
                </div>
            </section>
            
        </main>



        <footer>
            <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
            <div class="redesSociales"><p>SEGUINOS EN :</p> <i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i></div>
            <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
            <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
        </footer>
    </div>
    

</body>
</html>