<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>WILDCARD</title>
    <link rel="stylesheet" href="stylesheets/productDetail.css">
</head>
<body>

    <main>
        <section class="producto">
            <article class="imagenesProducto">
                <div class="imagenesCarousel">
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <img src="image/ZapatoPrueba.jpg" alt="">
                    <img src="image/ZapatoPrueba.jpg" alt="">
                </div>
                <div class="imagenesSelect">
                    <img src="image/ZapatoPrueba.jpg" alt="">
                </div>
            </article>
            <article class="descripcionProducto">Detalle del producto</article>
        </section>

        <section class="formularioCompra">
            <form action="">
                <tittle id="nombre">NOMBRE DEL PRODUCTO</tittle><br>
                <br>
                <p id="precio">Precio</p><br>
                <br>
                <p id="oferta">3 Cuotas SIN INTERÉS</p>
                <br>
                <div class="talles">
                    <p class="categoria">Talles</p>
                    <p id="guiaTalles">Ver guía de talles</p>
                    <button>35</button>
                    <button>36</button>
                    <button>37</button>
                    <button>38</button>
                    <button>39</button>
                    <button>40</button>
                    <button>41</button>
                    <button>42</button>
                    <button>43</button>
                    <button>44</button>
                    <button>45</button>
                    <button>46</button>
                </div>
                <div class="colores">
                    <p class="categoria">Colores</p>
                    <button style="background-color: red;"></button>
                    <button style="background-color: black;"></button>
                    <button style="background-color: brown;"></button>
                    <button style="background-color: burlywood;"></button>
                </div>
                <div class="cantidad">
                    <p class="categoria">Cantidad: <input id="inputCantidad" type="number" value="1" min="1"></p>
                    
                </div>
                <div class="mediosPago">
                    <p class="categoria">Medio de Pago: </p>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
                <div class="mediosEnvio">
                    <p class="categoria">Medio de envío: </p>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </form>
        </section>
        
        <section class="relacionados">
            <title>Productos relacionados</title>
            <div>
                <article><img src="image/ZapatoPrueba.jpg" alt=""></article>
                <article><img src="image/ZapatoPrueba.jpg" alt=""></article>
                <article><img src="image/ZapatoPrueba.jpg" alt=""></article>
                <article><img src="image/ZapatoPrueba.jpg" alt=""></article>
                <article><img src="image/ZapatoPrueba.jpg" alt=""></article>
            </div>
        </section>
    </main>

</body>
</html>