<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>WILDCARD</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/productDetail.css">

</head>
<body>
    <div class="container">
        <header>
            <div class="tituloh2">
                <h2>ENVÍOS A TODO EL PAÍS</h2>
            </div>
            <menu>
                <i class="fas fa-bars"></i></i>
            </menu>
            <div class="logoArlequin">
                <img src="/img/logoArlequin.jpg" width="100%" alt="Logo Arlequin">
            </div>
            <div class="logo">
                <h1>Wildcard</h1>
            </div>
            <div class="barraDeBusqueda"> 
                <form action="/index" method="GET">
                <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
            </div>
            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
            <nav>
                <ul class="menu">
                    <li >
                        COLECCION
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        AYUDA
                    </li>
                    <li>
                        CONTACTANOS
                    </li>
                 </ul>
                <ul class="usuario">
                    <li>
                        INICIAR SESION  
                    </li>
                    <li>
                        CREAR CUENTA
                    </li>
                </ul>
                </nav>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
            
        </header>
        <main>
            <section class="producto">
                <article class="imagenesProducto">
                    <div class="imagenesCarousel">
                        <img src="image/ZapatoPrueba.jpg" alt="">
                        <img src="image/ZapatoPrueba.jpg" alt="">
                        <img src="image/ZapatoPrueba.jpg" alt="">
                        <img src="image/ZapatoPrueba.jpg" alt="">
                    </div>
                    <div class="imagenesSelect">
                        <img src="image/ZapatoPrueba.jpg" alt="">
                    </div>
                </article>
                <article class="descripcionProducto">
                    Detalles del producto
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto temporibus molestiae, iste a ipsam ab ratione dolorum voluptate libero. Nobis, ducimus nesciunt voluptatibus ipsam iusto sequi nihil eveniet error sint?Sapiente officiis rerum ducimus ut fugiat nihil reprehenderit doloribus hic iusto necessitatibus fugit nam animi est deserunt, molestiae quas mollitia eligendi dolorum facilis repudiandae non! Eius nemo et deserunt expedita?}
                    </p>
                </article>
           
                <div class="formularioCompra">
                    <tittle id="nombre">ZAPATOS X</tittle>
                    <p id="precio">$1.500</p>
                    <p id="oferta">3 Cuotas SIN INTERÉS</p>
                    <div class="talles">
                        <p class="categoria">Talles</p><i id="guiaTalles">Ver guía de talles</i>
                        <div class="botontesSelect">
                            <button>35</button>
                            <button>36</button>
                            <button>37</button>
                            <button>38</button>
                            <button>39</button>
                            <button>40</button>
                            <button>41</button>
                            <button>42</button>
                            <button>43</button>
                            <button>44</button>
                            <button>45</button>
                            <button>46</button>
                        </div>
                    </div>
                    <div class="colores">
                        <p class="categoria">Color: <b>Rojo</b></p>
                        <div class="botontesSelect">
                            <button style="background-color: red;"></button>
                            <button style="background-color: black;"></button>
                            <button style="background-color: brown;"></button>
                            <button style="background-color: burlywood;"></button>
                        </div>
                    </div>
                    <div class="cantidad">
                        <p class="categoria">Cantidad: <input id="inputCantidad" type="number" value="1" min="1"></p>
                        
                    </div>
                    <div class="mediosPago">
                        <p class="categoria">Medio de Pago: </p>
                        <div class="botontesSelect">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                        </div>
                    </div>
                    <div class="mediosEnvio">
                        <p class="categoria">Medio de envío: </p>
                        <div class="botontesSelect">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                        </div>
                    </div>
                    <button class="botonCompra" type="submit">Comprar</button>
                </div>
            </section>
            
            <section class="relacionados">
                <title>Productos relacionados</title>
                <div>
                    <article>producto</article>
                    <article>producto</article>
                    <article>producto</article>
                    <article>producto</article>
                    <article>producto</article>
                    <article>producto</article>
                    <article>producto</article>
                </div>
            </section>
            <footer>
                <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
                <div class="redesSociales"><p>SEGUINOS EN :</p> <i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i></div>
                <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
                <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
            </footer>
        </main>
        
    </div>
    

</body>
</html>