<form action="../products/filtro" method="POST" class="formfiltro">
    <div class="filtro filtroPersona">
        <div><input class="persona" type="radio" name="persona" value="" id="Todos" checked><label for="Todos">Todos</label> </div>
        <div><input class="persona" type="radio" name="persona" value="mujer" id="Mujer"><label for="Mujer">Mujer</label> </div>
        <div><input class="persona" type="radio" name="persona" value="hombre" id="Hombre"><label for="Hombre">Hombre</label> </div>
        <div><input class="persona" type="radio" name="persona" value="niño" id="Nino"><label for="Nino">Niño</label></div>
    </div>
    <br><br>

    <label for="">Categorías</label>
    <br>
    <div>
        <div class="filtro filtroCategoria">
            <div><input class="persona" type="checkbox" name="categoria" value="Zapatillas" id="Zapatillas"><label for="Zapatillas">Zapatillas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Botas" id="Botas"><label for="Botas">Botas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Zapatos" id="Zapatos"><label for="Zapatos">Zapatos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Suecos" id="Suecos"><label for="Suecos">Suecos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Zandalias" id="Zandalias"><label for="Zandalias">Sandalias</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Chatas" id="Chatas"><label for="Chatas">Chatas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Ojotas" id="Ojotas"><label for="Ojotas">Ojotas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Carteras" id="Carteras"><label for="Carteras">Carteras</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Panuelos" id="Panuelos"><label for="Panuelos">Pañuelos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Pulceras" id="Pulceras"><label for="Pulceras">Pulseras y Collares</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Cintos" id="Cintos"><label for="Cintos">Cintos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="Mochilas" id="Mochilas"><label for="Mochilas">Mochilas</label></div>
        </div>
    </div>
    <br><br>
    <div class="filtro filtroPrecio">
        <div><label for="preciomin">Precio Mínimo</label> / <label for="preciomax">Precio Máximo</label></div>
        <div><input type="number" name="preciomin" id="preciomin" value="0" size="10" min="0" style="width:100px"> / <input type="number" name="preciomax" id="preciomax" value="100000" size="10" min="0" style="width:100px"></div>
    </div>                   
    <br><br>

    <div class="labels">
        <label for="">Talle</label>
        <p id="guiaTalles" onclick="javascript:location.href='/ayuda'">Ver guía de talles</p>
    </div>
    <br>
    <div class="filtro filtroTalle">
        <div>
            <div><input class="persona" type="checkbox" name="talle" value="35" id="35"><label for="35"> 35</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="36" id="36"><label for="36">36</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="37" id="37"><label for="37">37</label> </div>
            <div><input class="persona" type="checkbox" name="talle" value="38" id="38"><label for="38">38</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="39" id="39"><label for="39">39</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="40" id="40"><label for="40">40</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="41" id="41"><label for="41">41</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="42" id="42"><label for="42">42</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="43" id="43"><label for="43">43</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="44" id="44"><label for="44">44</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="45" id="45"><label for="45">45</label></div>
            <div><input class="persona" type="checkbox" name="talle" value="46" id="46"><label for="46">46</label></div>
        </div>
    </div>
    <br><br>

    <label for="">Color</label><br>
    <div class="filtro filtroColor">
        <div><input class="persona" type="checkbox" name="color" value="Rojo" id="Rojo"><label for="Rojo">Rojo</label></div>
        <div><input class="persona" type="checkbox" name="color" value="Negro" id="Negro"><label for="Negro">Negro</label></div>
        <div><input class="persona" type="checkbox" name="color" value="Marrón" id="Marrón"><label for="Marrón">Marrón</label></div>
    </div>
    <br><br>

    <label for="">Marca</label><br>
    <div class="filtro filtroMarca">
        <input class="persona" type="checkbox" name="color" value="Marca1" id="Marca1"><label for="Marca1">Marca1</label>
        <input class="persona" type="checkbox" name="color" value="Marca2" id="Marca2"><label for="Marca2">Marca2</label>
        <input class="persona" type="checkbox" name="color" value="Marca3" id="Marca3"><label for="Marca3">Marca3</label>
    </div>
    <br><br>
    <button class="submitbutton" style="background-color: white; color: black;" type="reset">Limpiar campos</button><br>
    <button class="submitbutton" type="submit">Aplicar</button>
</form>