<footer>
    <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
    <div class="redesSociales"><p>SEGUINOS EN :</p> <i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i></div>
    <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
    <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
</footer>