<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>WILDCARD</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="tituloh2">
                <h2>ENVÍOS A TODO EL PAÍS</h2>
            </div>
            <menu>
                <i class="fas fa-bars"></i></i>
            </menu>
            <div class="logoArlequin">
                <img src="/img/logoArlequin.jpg" width="100%" alt="Logo Arlequin">
            </div>
            <div class="logo">
                <h1>Wildcard</h1>
            </div>
            <div class="barraDeBusqueda"> 
                <form action="products/search/" method="GET">
                <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
                <Button type="submit"><i class="fas fa-search"></i></BUtton></form>
            </div>
            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
            <nav>
                <ul class="menu">
                    <li >
                        COLECCION
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        AYUDA
                    </li>
                    <li>
                        CONTACTANOS
                    </li>
                 </ul>
                <ul class="usuario">
                    <% if ( usuario != 'ningunUsuarioLogueado' ) { %>
                        <li >
                            Hola <%= usuario %>!!!
                        </li>
                        <li>
                            <a href="/users/closesession">CERRAR SESION</a>  
                        </li>
                        <% } else { %>
                        <li>
                            <a href="/users/login">INICIAR SESION</a>  
                        </li>
                        <% } %>
                    <li>
                        CREAR CUENTA
                    </li>
                </ul>
                </nav>
            <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
            
        </header>
</body>

</html>