<header>
    <div class="tituloh2">
        <h2>ENVÍOS A TODO EL PAÍS</h2>
    </div>
    <menu>
        <i class="fas fa-bars"></i></i>
    </menu>
    <div class="logoArlequin">
        <img src="/img/logoArlequin.jpg" height="100%" alt="Logo Arlequin">
    </div>
    <div class="logo">
        <a href="/">Wildcard</a>
    </div>
    <div class="barraYCarrito">
        <div class="barraDeBusqueda"> 
        <form action="/index" method="GET">
        <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos">
    </div>
        <div class="carrito">
            <i class="fas fa-shopping-cart" onclick="javascript:location.href='users/carrito'"></i>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li >
                <a href="/productos/productos">COLECCION</a> 
            </li>
            <li>
                <a href="/productos/productos">ACCESORIOS</a> 
            </li>
            <li>
                AYUDA
            </li>
            <li>
                CONTACTANOS
            </li>
            </ul>
        <ul class="usuario">
            <li>
                <a href="/users/login">INICIAR SESION</a>  
            </li>
            <li>
                <a href="/users/register">CREAR CUENTA</a>  
            </li>
        </ul>
        </nav>
    <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
    
</header>