<header>
    <div class="tituloh2">
        <h2>ENVÍOS A TODO EL PAÍS</h2>
    </div>
    <menu class="contenedor">
        <i class="fas fa-bars botonMenu"></i>
        <div class="desplegable">
            <form action="products/search" method="POST">
                <input type="text" name="search" id="barraDeBusqueda" placeholder="Buscar productos">
                <Button type="submit"><i class="fas fa-search"></i></Button>
                </form>
            <a href="/products">COLECCION</a>
            <a href="/products/accesorios">ACCESORIOS</a>
            <a href="/ayuda">AYUDA</a>
            <a href="/contactanos">CONTACTANOS</a>
            <% if ( usuario != 'ningunUsuarioLogueado' ) { %>
            <a href="/users/editar"">Hola <%= usuario.nombre %>!!!</a>            <a href="/users/closesession">Cerrar Sesion</a>
            <%} else { %>
            <a href="/users/login">INICIAR SESION</a>
            <a href="/users/register">CREAR CUENTA</a> 
            <% } %>
            <a href="/ayuda">AYUDA</a>
          </div>
        
    </menu>
    <div class="logoArlequin">
        <img src="/img/logoArlequin.jpg" height="100%" alt="Logo Arlequin">
    </div>
    <div class="logo">
        <a href="/">Wildcard</a>
    </div>
    <div class="barraYCarrito">
        <div class="barraDeBusqueda"> 
        <form action="../products/search" method="POST">
        <input type="text" name="search" id="barraDeBusqueda" placeholder="Buscar productos">
        <Button type="submit"><i class="fas fa-search"></i></Button>
        </form>
    </div>
        <div class="carrito">
            <i class="fas fa-shopping-cart" onclick="javascript:location.href='/users/carrito/verCarrito/'"></i>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li >
                <a href="/products">COLECCION</a> 
            </li>
            <li>
                <a href="/products/accesorios">ACCESORIOS</a> 
            </li>
            <li>
                <a href="/ayuda">AYUDA</a> 
            </li>
            <li>
                <a href="/contactanos">CONTACTANOS</a> 
            </li>
            </ul>
        <ul class="usuario">
            <% if ( usuario != 'ningunUsuarioLogueado' ) { %>
                <li >
                    <a href="/users/editar">Hola <%= usuario.nombre %>!!!</a> 
                </li>
                <% if ( usuario.permiso == 'admin' ) { %>
                    <li >
                        <a href="/admin">Admin</a> 
                    </li>
                <% } %>
                <li>
                    <a href="/users/closesession">CERRAR SESION</a>  
                </li>
                <% } else { %>
                <li>
                    <a href="/users/login">INICIAR SESION</a>  
                </li>
                <li>
                    <a href="/users/register">CREAR CUENTA</a>  
                </li>
                <% } %>
        </ul>
    </nav>
    <div class="logoWsapp"><i class="fab fa-whatsapp"></i></div>
    
</header>